@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 10% 98%;
    /* Warm white */
    --foreground: 240 10% 4%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 5% 65%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --muted: 240 5% 65%;
    --muted-foreground: 240 4% 46%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 4% 65%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --muted: 240 5% 65%;
    --muted-foreground: 240 5% 65%;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-500;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/40 backdrop-blur-xl border border-white/20;
  }

  .dark .glass {
    @apply bg-black/40 backdrop-blur-xl border border-white/5;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 dark:bg-neutral-800 rounded-full border-[3px] border-solid border-transparent bg-clip-content hover:bg-neutral-300 dark:hover:bg-neutral-700;
    min-height: 50px;
  }
}