@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --border: 0 0% 95%;
    --input: 0 0% 95%;
    --ring: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 0 0% 100%;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-500;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/40 backdrop-blur-xl border border-white/20;
  }

  .dark .glass {
    @apply bg-black/40 backdrop-blur-xl border border-white/5;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 dark:bg-neutral-800 rounded-full;
  }
}